@import "../../../app-global.module.scss";

.searchSection {
  height: 100vh;
}
.searchSection2 {
  height: max-content;
}

.searchSection,
.searchSection2 {
  width: 100%;
  padding: 5% 1em 1em 1em;
  @include alignStart;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  background: linear-gradient(180deg, #ffffff, $primary-theme-color);
  .container[data-container="one"] {
    width: 60%;
    height: max-content;
    margin-bottom: 1em;
    @include alignCenter;
    align-items: center;
    img {
      @include responsiveImage(50%, 90%);
      object-fit: contain;
    }
  }
  .container[data-container="two"] {
    width: 50%;
    input[type="text"] {
      padding: 2%;
    }
  }
  @media screen and (max-width: 650px) {
    & {
      @include alignCenter;
      padding-top: 0;
      .container[data-container="one"] {
        img {
          @include responsiveImage(80%, 100%);
        }
      }
      .container[data-container="two"] {
        width: 80%;
      }
    }
  }
}
