*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  z-index: 10;
  font-family: "Quicksand", sans-serif;
}

$primary-theme-color: #f7af11;
$primary-text-color: #383838;
$primary-font-family: "PT Sans", sans-serif;
$dark-theme-bg-color: #1b1b1b;

@mixin gridMaker($col, $row, $gap) {
  display: grid;
  grid-template-columns: $col;
  grid-template-rows: $row;
  grid-gap: $gap;
}

@mixin alignCenter {
  display: flex;
  justify-content: center;
}

@mixin alignStart {
  display: flex;
  justify-content: flex-start;
}

@mixin alignEnd {
  display: flex;
  justify-content: flex-end;
}

@mixin clearFix {
  clear: both;
}

@mixin responsiveImage($width, $max-width) {
  width: $width;
  max-width: $max-width;
}
